# Core
python-dotenv>=1.0.0
pandas>=2.0
numpy>=1.24

# Visualization
altair>=5.0
vega_datasets>=0.9

# Web App
dash>=2.15
dash-bootstrap-components>=1.5

# Data IO
pyarrow>=14.0

# Optional (but useful)
scipy>=1.10
